/* Mobile Stylesheets */

/* Tablet Stylesheets */

@media only screen and (min-width: 481px) {}

/* Desktop Stylesheets */

@media only screen and (min-width: 1025px) {
    
    #slideshow {
        max-width: 50em;
        max-height: 30em;
        position: relative;
        margin: auto;
        background-color: black;
        border: solid black 1px;
    }

    #slideshow img {
        max-width: 50em;
        max-height: 30em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
    }

    .number {
        color: white;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
}
